<!DOCTYPE html>
<html>
<head>
  <title>Lifestream Example Application</title>
  <%= stylesheet_link_tag 'css' %>
</head>

<body>
  
  <div id="container">
    <%= yield %>
  </div>
  
</body>  

</html>
